@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-slate-800 dark:bg-slate-800 dark:text-slate-200;
}
a,
button,
input,
label {
  -webkit-tap-highlight-color: transparent;
}
.hero{
  background:#f3f4f6 url('/img/bg-patern.png');-webkit-animation:loopnavbg-data-v-c423aec0 350s linear infinite;animation:loopnavbg-data-v-c423aec0 350s linear infinite;-webkit-animation:loopnavbg-data-v-c423aec0 350s linear infinite;animation:loopnavbg-data-v-c423aec0 350s linear infinite;animation:loopingbackg 350s linear infinite
}
.dark .hero{
  background:#1f2937 url('/img/bg-patern.png');-webkit-animation:loopnavbg-data-v-c423aec0 350s linear infinite;animation:loopnavbg-data-v-c423aec0 350s linear infinite;-webkit-animation:loopnavbg-data-v-c423aec0 350s linear infinite;animation:loopnavbg-data-v-c423aec0 350s linear infinite;animation:loopingbackg 350s linear infinite
}
.menu:hover .icon {
  @apply text-red-400 bg-gray-100 dark:bg-slate-700;
}

@-webkit-keyframes loopingbackg{
  to{background-position:0 -3000px}
}
@keyframes loopingbackg{
  to{background-position:0 -3000px}
}